<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/CSS.css}" />
  <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js" defer></script>
  <script src="./js/validation.js" defer></script>
  <title>Request Password Reset</title>
</head>

<body>

<div class="logo">
  <a th:href="@{/}">
    <img th:src="@{/images/logo.png}" alt="Website Logo" />
  </a>
</div>

<h1 style="margin-top: 100px; margin-bottom: 50px;">Request Password Reset</h1>

<form th:action="@{/request}" method="post" id="resetRequestForm">
  <p th:if="${errorMessage}" style="color:red;">[[${errorMessage}]]</p>

  <div class="form-group">
    <label for="emailAddress">Email</label>
    <input type="email" id="emailAddress" name="emailAddress" required placeholder="Enter Your Email Address" />
    <span id="emailErrorMsg" style="color: red;"></span>
  </div>
  <br>

  <button type="submit">Request OTP</button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('resetRequestForm');
    const emailInput = document.getElementById('emailAddress');
    const emailErrorMsg = document.getElementById('emailErrorMsg');

    function validateEmail(email) {
      return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    }

    form.addEventListener('submit', function (event) {
      if (!validateEmail(emailInput.value.trim())) {
        emailErrorMsg.textContent = 'Invalid email format';
        event.preventDefault();
      } else {
        emailErrorMsg.textContent = '';
      }
    });
  });
</script>

</body>

</html>
